<div class="container mt-5">
  <h2 class="text-center mb-5">Add Employee</h2>


  <%= form_with model:@employee, local:true, class:"needs-validation" do |f| %>
  <div class="mb-3">
    <%= f.label :name, class: "form-label" %>
    <%= f.text_field :name, class: "form-control", required: true %>
  </div>
  <div class="mb-3">
    <%= f.label :position, class: "form-label" %>
    <%= f.text_field :position, class: "form-control", required: true %>
  </div>
  <div class="mb-3">
    <%= f.label :department, class: "form-label" %>
    <%= f.text_field :department, class: "form-control", required: true %>
  </div>
  <div class="mb-3">
    <%= f.label :email, class: "form-label" %>
    <%= f.text_field :email, class: "form-control", required: true %>
  </div>

  <div class="mb-3">
    <%= f.label :salary, class: "form-label" %>
    <%= f.number_field :salary, class: "form-control", required: true %>
  </div>

  <div class="mb-3">
    <%= f.submit "Add Employee",class: "btn btn-primary" %>
  </div>
  <% end %>
</div>
